header {
    display: flex;
    justify-content: space-between;

    border-bottom: 10px solid #242325;
    padding: 10px 20px;
}

#logonatan {

    box-shadow: 4px 4px 0 #242325;

}

body {
    background-color: #3A4042;
    justify-content: space-between;
    
    transition: background 0.2s linear;
}

body.light {
    background: #fafafa;
}

#lightmode {
    align-items: center;
    padding-top: 16px;
    padding-right: 10px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #242325;
    border-radius: 0;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label .square {
    background-color: #fafafa;
    border-radius: 0%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .square {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12
}
